.active{
    color: #266cfb !important;
    font-weight: bold !important;
}

.barnd-name {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.header-nav li:last-child{
    padding: unset;
    padding-left: 20px;
    border-right: none;
}

.slider-area .slick-dots {
    background: #266cfb29;
    border-radius: 20px;
    padding: 0px 10px 10px 10px;
}

.footer-area {
    border-top: 1px solid #e7e7e7;
}

.btn-block {
    width: 100%;
    margin-top: 15px;
}

.login-register-wrapper .login-form-container .login-register-form input {
    margin-bottom: 10px;
}

.table-responsive {
    margin-bottom: 20px;
}

.cart-main-area .table-content table tbody > tr td {
    padding: 20px 0;
}

.cart-main-area .table-content table thead > tr > th {
    padding: 21px 30px 22px;
}

.cart-tax, .discount-code-wrapper, .grand-totall {
    padding: 20px;
}

.grand-totall .total-shipping {
    border-bottom: unset;
    border-top: unset;
    margin: 10px;
    padding: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grand-totall h5 {
    font-size: 14px;
    margin: 15px 0 15px;
    font-weight: 900;
    margin-right: 10px;
    margin-left: 10px;
}

.my-total-shipping h5 {
    font-weight: 400;
}

.grand-totall a {
    padding: 15px 10px 15px;
}

.cart-tax .title-wrap h4.cart-bottom-title, .discount-code-wrapper .title-wrap h4.cart-bottom-title, .grand-totall .title-wrap h4.cart-bottom-title {
    content: unset;
}

.cart-page-title {
    margin-bottom: 20px;
}

.login-register-wrapper .login-form-container {
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-top ul li span,
.your-order-area .your-order-wrap .your-order-product-info .your-order-total ul li.order-total span{
    font-weight: 400;
}

.info-btn{
    background-color: #266cfb;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 10px 12px;
    margin-right: 10px;
    text-transform: uppercase;
}

.primary-btn{
    background-color: #d1d1d1;
    border-radius: 5px;
    color: #1f1f1f;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 10px 12px;
    margin-right: 10px;
    text-transform: uppercase;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-middle {
    border-bottom: unset;
    border-top: unset;
}

.product-inner {
    min-height: 378px;
}

/* .pagination{
    justify-content: center;
}

.page-item{
    margin: 0 5px;
}

.page-link{
    border-radius: 100%;
}

.page-item:first-child .page-link {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.page-item:last-child .page-link {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
} */

.shop-sidebar-wrap .sidebar-widget .sidebar-widget-list li a{
    cursor: pointer;
}

/* .flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-between {
    justify-content: space-between !important;
}

.items-center {
    align-items: center;
} */

.relative {
    position: relative;
}

.inline-flex {
    display: inline-flex;
}

.price-range-line{
    width: 100%;
}

.price-range-value{
    font-weight: bold;
    margin-bottom: 10px;
}

.shop-category-area .shop-top-bar .shop-tab p {
    color: #266cfb;
}

.cart-count-number, .wishlist-count-number{
    position: absolute;
    top: -8px;
    left: 34px;
    display: inline-block;
    width: 19px;
    height: 19px;
    color: #fff;
    background: #266cfb;
    line-height: 19px;
    font-size: 11px;
    border-radius: 100%;
    text-align: center;
    font-weight: 700;
}

.product-details-content .pro-details-quality .my-cart-plus-minus {
    border: 1px solid #e8e8e8;
    display: inline-block;
    height: 50px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 80px;
}

.product-details-content .pro-details-quality .my-cart-plus-minus .dec.qtybutton {
    height: 48px;
    left: 0;
    padding-top: 14px;
    top: 0;
}

.product-details-content .pro-details-quality .my-cart-plus-minus .qtybutton {
    color: #232323;
    cursor: pointer;
    float: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 24px;
}

.product-details-content .pro-details-quality .my-cart-plus-minus .inc.qtybutton {
    height: 48px;
    padding-top: 14px;
    right: 0;
    top: 0;
}

.product-details-content .pro-details-quality .my-cart-plus-minus .qtybutton {
    color: #232323;
    cursor: pointer;
    float: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 24px;
}

.product-details-content .pro-details-quality .my-cart-plus-minus input.cart-plus-minus-box {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #232323;
    float: left;
    font-size: 14px;
    height: 48px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 80px;
    outline: none;
}

.view-cart-plus-minus {
    display: inline-block;
    height: 40px;
    padding: 0;
    position: relative;
    width: 110px;
}

.view-cart-plus-minus .dec {
    cursor: pointer;
    position: absolute;
    border-right: 1px solid #e5e5e5;
    width: 20px;
    height: 40px;
    left: 0;
    padding-top: 8px;
    top: 0;
}

.view-cart-plus-minus .view-cart-plus-minus-box {
    color: #666;
    float: left;
    font-size: 14px;
    height: 40px;
    margin: 0;
    width: 110px;
    background: transparent none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    padding: 0;
    text-align: center;
}

.view-cart-plus-minus .inc {
    cursor: pointer;
    position: absolute;
    border-left: 1px solid #e5e5e5;
    width: 20px;
    height: 40px;
    padding-top: 9px;
    right: 0;
    top: 0;
}

.error {
    border-color: rgb(220, 53, 69) !important;
}

.billing-info .error{
    margin-bottom: 10px;
}

.login-register-wrapper .login-form-container .login-register-form input {
    margin-top: 10px;
}

.login-register-form .password-label{
    width: 100%;
}

.login-register-form .password-label a{
    float: right;
}

.your-order-bottom{
    margin-top: 20px;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-total {
    border-bottom: unset;
    margin: 18px 0 0px;
}

.your-order-area .your-order-wrap {
    padding: 38px 45px 20px;
}

.your-order-area li {
    color: #1f1f1f;
}

.your-order-area .your-order-success-total{
    margin-bottom: 20px !important;
}

.list-product .checkout-img-block img{
    width: 100px;
}

.table-checkout {
    margin-top: 40px;
}

.table-checkout table {
    width: 100%;
}

.table-checkout table tr{
    border-bottom: 1px solid #e6e6e6;
}

.table-checkout table tr td{
    padding-bottom: 20px;
    padding-top: 20px;
}

.table-checkout table tr:last-child{
    border-bottom: unset;
}

.table-checkout img{
    width: 50px;
}

.table-checkout .product-price-cart{
    text-align: right;
}

.table-checkout .product-name a{
    font-weight: bold;
    color: #1f1f1f;
}

.table-content .title, .your-order-area .title{
    text-decoration-line: underline;
}

.your-order-area .title{
    margin-bottom: 20px;
}

.basic-btn {
    background-color: #266cfb;
    color: #fff;
    display: block;
    width: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    padding: 18px 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    z-index: 9;
}

.badge-info, .badge-done, .badge-warning, .badge-success, .badge-danger {
    display: inline-block;
    color: #ffffff;
    padding: 5px 15px;
    height: 25px;
    font-size: 11px;
    text-transform: capitalize;
    text-align: center;
    z-index: 4;
    border-radius: 5px;
    font-weight: 600;
}

.badge-info{
    background: #1482ff;
}

.badge-done{
    background: #0c9450;
}

.badge-warning{
    background: #ffc814;
}

.badge-success{
    background: #20f893;
}

.badge-danger{
    background: #ff4b34;
}

.static-area .single-static i {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0;
    margin-right: 15px;
    display: block;
    font-size: 2rem;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
}

.cart-main-area .table-content table tbody > tr td.product-thumbnail {
    padding: 0 20px;
}

.center-img-area {
    display: flex;
    justify-content: center;
}

.list-product .img-block img {
    width: 75%;
}

.list-product .product-inner {
    padding-top: 50px;
}

.img-same-size {
    float: left;
    width:  270px;
    height: 164px;
    object-fit: contain;
}

.search-element .search-icon {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 20px;
}

.search-element input {
    padding: 20px 20px 20px 60px;
}

.searching-results {
    position: absolute;
    background-color: white;
    padding: 10px;
    margin-top: 55px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 50;
}

.searching-results .item {
    margin-bottom: 15px;
    padding-left: 50px;
    font-weight: 500;
}

.searching-results .item a {
    color: #232323;
}

.message-span{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

@media (min-width: 1200px) {
    
}


